{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vehicles</title>

    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>
<style>
.nav {
    margin-bottom: 20px;
}
    .card-holder{
        padding: 30px;
        padding-left: 40px;
        padding-right: 50px;
    }
    .welcome{
        background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
</style>
<body>
{% if user.is_authenticated %}
    <div id="wrapper">
        {% include 'driver/navbar.html' %}
        <!-- Sidebar -->
        <!--<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Road Link
                    </a>
                </li>
                <li>
                    <a href="/account/profile">Dashboard</a>
                </li>
                <li>
                    <a href="/driver">View all drivers</a>
                </li>
                <li>
                    <a href="/driver">Add driver</a>
                </li>
                <li>
                    <a href="/vehicle/vehicles">View your vehicles</a>
                </li>
                <li>
                    <a href="#">View all trips</a>
                </li>
                <li>
                    <a href="/vehicle/addVehicle">Add vehicle</a>
                </li>
                <li>
                    <a href="/repair">Repair</a>
                </li>
                <li>
                    <a href="/repair/issues">Repair List</a>
                </li>
                <li>
                    <a href="#">View report</a>
                </li>
                <li>
                    <form action="/account/logout" method="POST">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-primary" value="Logout">
                </form>
                </li>
            </ul>
        </div>-->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                
                <div class="row">
                    
                    <div class="col-md-12">
                            {%if success %}
                            <div class="alert alert-success" role="alert">
                                    {{ success }}
                                  </div>
                            {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <div class="col s12">
                      <div class="welcome card-panel z-depth-3">
                        
                          <span style="padding-left: 43%;" class="white-text"><font color="black" size="20">Vehicles</font>
                      </span>
                      </div>
                    </div>
                                <!-- <form method="POST" style="margin: 0">
                                    {% csrf_token %}
                                    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
                                    <button id="search_submit" type="submit" name="searchb" class="btn btn-success">Submit</button>
                                    <button id="search_submit" type="submit" name="viewallb" class="btn btn-primary">View All</button>
                                </form> -->
                            </div>
                            <div class="card-body text-center">
                                <div class="row">
                                    {% for vehicle in vehiclesList %}
                                    <div class="col s8 m3">
                                      <div class="card">
                                        <div class="card-image">
                                          <img width="300px" height="300px" src="{{vehicle.image.url }}">
                                          <span class="card-title">{{vehicle.registration_plate}}</span>
                                        </div>
                                        
                                        <div class="card-action">
                                          <a class="waves-effect waves-light btn modal-trigger" onclick="$('#modal1').modal('open');">More Details</a>
                                           <a href="/vehicle/delete/{{vehicle.id}}"><button class=" btn">Delete</button></a>
                                       <a href="/vehicle/edit/{{vehicle.id}}"><button style="margin-top: 2%;" class=" btn">edit</button></a>
                                        </div>
                                          <!-- Modal Structure -->
                                          <div id="modal1" class="modal">
                                            <div class="modal-content">
                                              <h4>{{vehicle.registration_plate}}</h4>
                                              <ul class="collection">
                                                                    {% if user.is_superuser %}
                                                                        <li class="collection-item">Owner :{{vehicle.owner}}</li>
                                                                    {% endif %}
                                                                  <li class="collection-item">Price :{{vehicle.price}}</li>
                                                                  <li class="collection-item">Cost per km :{{vehicle.cost_per_km}}</li>
                                                                  <li class="collection-item">No of Kms Travelled : {{vehicle.no_of_km_travelled}}</li>
                                                                  {% if vehicle.fuel_type == "P" %}
                                                                  <li class="collection-item">Fuel Type : Petrol</li>
                                                                  {% else %}
                                                                  <li class="collection-item">Fuel Type : Diesel</li>    
                                                                  {% endif %}
                                                                  <li class="collection-item">Mileage : {{vehicle.mileage}}</li>
                                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                            </div>
                                          </div>
          
                                      </div>
                                    </div>
                                    {% endfor %}
                                  </div>
                                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged in</h1>
    </div>
</div>
{% endif %}
    <!-- Bootstrap core JavaScript -->
   
    <script type="text/javascript">
               
              $(document).ready(function(){
                $('.modal').modal();
              });
          
    </script>
    <!-- Menu Toggle Script -->
    

</body>

</html>
