{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vehicles</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="{% static 'css/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>
{% if user.is_authenticated %}
        {% include 'driver/navbar.html' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                            {%if success %}
                            <div class="alert alert-success" role="alert">
                                    {{ success }}
                                  </div>
                            {% endif %}
                            {%if failure %}
                            <div class="alert alert-danger" role="alert">
                                    {{ failure }}
                                  </div>
                            {% endif %}
                        <div class="card">
                            <div class="card-title ">
                                <h2>Your Bookings</h2>
                            </div>
                            <div class="card-content">
                                <div class="col s12">
                                <table id="dataTables-example" class="table table-striped table-bordered table-hover">
                                  <thead>
                                    <tr>
                                    {% if user.is_superuser %}
                                    <th>Username</th>
                                      {% endif %}
                                      <th>Registration Number</th>
                                      <th>Discount ID</th>
                                      <th>Status</th>
                                      <th>Start Date</th>
                                      <th>End Date</th>
                                      <th>Source</th>
                                      <th>Destination</th>
                                      <th>Distance</th>
                                      <th>Delete</th>
                                      {% if user.is_superuser %}
                                        <th scope="col">Change Status</th>
                                      {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in bookings %}
                                    <tr>
                                      <!-- <th scope="row"></th> -->
                                      {% if user.is_superuser %}
                                        <td>{{item.allottedUser.username}}</td>
                                      {% endif %}
                                      <td>{{item.vehicle.registration_plate}}</td>
                                      <td>{{item.discountId}}</td>
                                      <td>{{item.status}}</td>
                                      <td>{{item.startDate}}</td>
                                      <td>{{item.endDate}}</td>
                                      <td>{{item.source}}</td>
                                      <td>{{item.destination}}</td>
                                      <td>{{item.distance}}</td>
                                      <td>
                                        <a href="/booking/delete/{{item.id}}"><input type="button" value="Delete" name="delete" class="btn btn-primary" id="submit"/></a>
                                      </td>
                                      {% if user.is_superuser %}
                                        {% if item.status == "B" %}
                                          <td><a href="/booking/changestatus/{{item.id}}"><input type="button" value="Revert" name="Book" class="btn btn-primary" id="submit"/></a></td>
                                        {% elif item.status == "NB" %}
                                          <td><a href="/booking/changestatus/{{item.id}}"><input type="button" value="Book" name="Book" class="btn btn-primary" id="submit"/></a></td>
                                        {% else %}
                                          <td><input type="button" value="Book" name="Book" class="btn btn-primary" id="submit" disabled/></a></td>
                                        {% endif %}
                                      {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged in</h1>
    </div>
</div>
{% endif %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'css/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'css/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'css/datatables-responsive/dataTables.responsive.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
