{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load material_form %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Booking</title>
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <style type="text/css">.welcome{
        background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }</style>
</head>
<body>
{% if user.is_authenticated %}
        {% include 'driver/navbar.html' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col s8 offset-s2">
                            {%if success %}
                            <div id="card-alert" class="card green lighten-5">
                      <div class="card-content red-text">
                        <p>{{success}}</p>
                      </div>
                    </div>
                            {% endif %}
                        <div class="card">
                            <div class="col s12">
                      <div class="welcome card-panel z-depth-3">
                        
                          <span style="padding-left: 38%;" class="white-text"><font color="black" size="20">Book A Trip</font>
                      </span>
                      </div>
                    </div>
                            <div class="card-content">
                            <form action="/booking/book" method="POST">
                            {% csrf_token %}
                            {{form}}
                            <div class="row">
                                <div class="col s4 offset-s4 center">
                                    <input type="submit" class="btn" value="Book">
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged in</h1>
    </div>
</div>
{% endif %}
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>

</html>
