{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Booking</title>
{% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>
<body>
{% if user.is_authenticated %}
        {% include 'driver/navbar.html' %}        
                <div class="container-fluid">
                                <h2>Successfully booked!</h2>
                                <p class="card__text">
                        <div class="card__title">Your booking details</div><br>
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td>Name</td>
                                      <td>{{details.allottedUser.username}}</td>
                                    </tr>
                                    <tr>
                                      <td>Source</td>
                                      <td>{{details.source}}</td>
                                    </tr>
                                    <tr>
                                      <td>Destination</td>
                                      <td>{{details.destination}}</td>
                                    </tr>
                                    <tr>
                                      <td>Total Distance</td>
                                      <td>{{details.distance}} Km</td>
                                    </tr>
                                    <tr>
                                      <td>Cost</td>
                                      <td>Rs.{{details.cost}}</td>
                                    </tr>
                                    <tr>
                                      <td>Vehicle</td>
                                      <td>{{details.vehicle.registration_plate}}</td>
                                    </tr>
                                     <tr>
                                      <td>Start Date</td>
                                      <td>{{details.startDate}}</td>
                                    </tr>
                                    <tr>
                                      <td>End Date</td>
                                      <td>{{details.endDate}}</td>
                                    </tr>
                                    <tr>
                                      <td>Discount ID</td>
                                      <td>{{details.discountId}}</td>
                                    </tr>
                                    <tr>
                                      <td>Status</td>
                                      <td>{{details.status}}</td>
                                    </tr>
                                    <tr>
                                      <td>Booking Date</td>
                                      <td>{{details.bookingDate}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <button class="btn btn--block card__btn" data-toggle="modal" data-target="#exampleModal">Pay Rs.{{details.cost}}</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form>
                                        <div class="form-container">
                                          <div class="personal-information">
                                            <h1>Payment Information</h1>
                                          </div> <!-- end of personal-information -->
                                               
                                              <input id="column-left" type="text" name="first-name" placeholder="First Name"/>
                                              <input id="column-right" type="text" name="last-name" placeholder="Surname"/>
                                              <input id="input-field" type="text" name="number" placeholder="Card Number"/>
                                              <input id="column-left" type="text" name="expiry" placeholder="MM / YY"/>
                                              <input id="column-right" type="text" name="cvc" placeholder="CCV"/>
                                             
                                             
                                          
                                              <input id="input-field" type="text" name="streetaddress" required="required" autocomplete="on" maxlength="45" placeholder="Streed Address"/>
                                              <input id="column-left" type="text" name="city" required="required" autocomplete="on" maxlength="20" placeholder="City"/>
                                              <input id="column-right" type="text" name="zipcode" required="required" autocomplete="on" pattern="[0-9]*" maxlength="5" placeholder="ZIP code"/>
                                              <input id="input-field" type="email" name="email" required="required" autocomplete="on" maxlength="40" placeholder="Email"/>
                                              <input id="input-button" class="btn btn-primary" type="submit" value="Pay"/>
                                            
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged in</h1>
    </div>
</div>
{% endif %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
