@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-Regular.e9f9bb75a194.eot");
    src: local('Roboto'), local('Roboto-Regular'),
        url("fonts/Roboto-Regular.e9f9bb75a194.eot?#iefix") format('embedded-opentype'),
        url("fonts/Roboto-Regular.080c52675a25.woff2") format('woff2'),
        url("fonts/Roboto-Regular.42e500897b2b.woff") format('woff'),
        url("fonts/Roboto-Regular.06fa080f833c.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
