{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drivers</title>

    <!-- Bootstrap core CSS -->
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    
    <link href="{% static 'css/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">
   

</head>
<style>
    .welcome{
        background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
</style>
<body>
{% if user.is_authenticated %}
    <div id="wrapper">
        {% include 'driver/navbar.html' %}
        <!-- Sidebar -->
        <!--<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Road Link
                    </a>
                </li>
                <li>
                    <a href="/account/profile">Dashboard</a>
                </li>
                <li>
                    <a href="/driver">View all drivers</a>
                </li>
                <li>
                    <a href="/driver">Add driver</a>
                </li>
                <li>
                    <a href="/vehicle/vehicles">View your vehicles</a>
                </li>
                <li>
                    <a href="#">View all trips</a>
                </li>
                <li>
                    <a href="/vehicle/addVehicle">Add vehicle</a>
                </li>
                <li>
                    <a href="/repair">Repair</a>
                </li>
                <li>
                    <a href="/repair/issues">Repair List</a>
                </li>
                <li>
                    <a href="#">View report</a>
                </li>
                <li>
                    <form action="/account/logout" method="POST">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-primary" value="Logout">
                </form>
                </li>
            </ul>
        </div>-->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
               
                <div class="row">
                  <div class="col s12">
                      <div class="welcome card-panel z-depth-3">
                        
                          <span style="padding-left: 43%;" class="white-text"><font color="black" size="20">Drivers</font>
                      </span>
                      </div>
                    </div>
                  <div class="col s12">
                    <div style="padding-left: 5%;padding-right: 5%;padding-top: 5%;padding-bottom: 5%;" class="card z-depth-5">
                    {%if success %}
                            <div class="alert alert-success" role="alert">
                                    {{ success }}
                                  </div>
                            {% endif %}
                                <table id="dataTables-example" class="table table-striped table-bordered table-hover">
                                   <thead>
                                    <tr>
                                      <!-- <th scope="col">#</th> -->
                                      <th scope="col">First Name</th>
                                      <th scope="col">Last Name</th>
                                      <th scope="col">National ID</th>
                                      <th scope="col">Email</th>
                                      <th scope="col">Contact</th>
                                      <th scope="col">License Category</th>
                                      <th scope="col">Address</th>
                                      {% if user.is_superuser %}
                                      <th scope="col">Delete</th>
                                      <th scope="col">Edit</th>
                                      {% endif %}
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for driver in drivers %}
                                    <tr>
                                      <!-- <th scope="row"></th> -->
                                      <td>{{driver.firstName}}</td>
                                      <td>{{driver.lastName}}</td>
                                      <td>{{driver.nationalId}}</td>
                                      <td>{{driver.email}}</td>
                                      <td>{{driver.phoneNumber}}</td>
                                      <td>{{driver.licenseCategory}}</td>
                                      <td>{{driver.address}}</td>
                                      {% if user.is_superuser %}
                                      <td>
                                        <a href="/driver/delete/{{driver.id}}"><input type="button" value="Delete" name="delete" class="btn " id="submit"/></a>
                                       </td>
                                       <td>
                                         <a href="/driver/edit/{{driver.id}}"><input type="button" value="Edit" name="edit" class="btn modal-trigger" id="submit"/></a>
                                        </td>
                                      {% endif %}
                                      
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged in</h1>
    </div>
</div>
{% endif %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script src="{% static 'css/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'css/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'css/datatables-responsive/dataTables.responsive.js' %}"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
