{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add driver</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>
<style>
.nav {
    margin-bottom: 20px;
}
</style>
<body>
{% if user.is_authenticated %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Road Link
                    </a>
                </li>
                <li>
                    <a href="/account/profile">Dashboard</a>
                </li>
                <li>
                    <a href="/driver">View all drivers</a>
                </li>
                <li>
                    <a href="#">Add driver</a>
                </li>
                <li>
                    <a href="#">View all vehicles</a>
                </li>
                <li>
                    <a href="#">View all trips</a>
                </li>
                <li>
                    <a href="#">Add vehicle</a>
                </li>
                <li>
                    <a href="/repair">Repair</a>
                </li>
                <li>
                    <a href="#">View report</a>
                </li>
                <li>
                    <form action="/account/logout" method="POST">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-primary" value="Logout">
                </form>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row nav">
                    <div class="col-md-2">
                        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            {%if success %}
                            <div class="alert alert-success" role="alert">
                                    {{ success }}
                                  </div>
                            {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <h2>Add driver</h2>
                            </div>
                            <div class="card-body">
                            <form action="/driver/addDriver" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="form-group row">
                            <input type="submit" name="submit" class="btn btn-primary" id="submit"/>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged in</h1>
    </div>
</div>
{% endif %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
