<div class="navbar-fixed">
<ul id="driver" class="dropdown-content">
       <li><a href="/driver">Add driver</a></li>
       <li><a href="/driver/drivers">View all drivers</a></li>
</ul>
<ul id="vehicle" class="dropdown-content">
        <li> <a href="/vehicle/addVehicle">Add vehicle</a></li>
        <li><a href="/vehicle/vehicles">View your vehicles</a></li>
</ul>
<ul id="booking" class="dropdown-content">
        <li><a href="/booking">Book a trip</a></li>
        <li><a href="/booking/bookings">My bookings</a></li>
</ul>
<ul id="repair" class="dropdown-content">
        <li><a href="/repair">Repair</a></li>
        <li><a href="/repair/issues">Repair List</a></li>
</ul>
    <nav style=" background: #808080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3fada8, #808080); ">
    <div class="nav-wrapper">
          <a href="#" class="brand-logo">&nbsp &nbsp&nbsp&nbsp<font style="color : #000;">Road</font> Link</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- <li><a href="/home">Home</a></li> -->
            <li><a href="/account/profile">Dashboard</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="driver">Driver<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="vehicle">Vehicle<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="booking">Booking<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="repair">Repair<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/report">View report</a></li>
            <li><form action="/account/logout" method="POST">
                {%csrf_token%}
                <input type="submit"  class="btn" style="background : #788383;" value="Logout">
            </form></li>
        </ul>
    </div>
    </nav>
</div>
    <script>
   
        $(".dropdown-trigger").dropdown();
   </script>
