{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    .card {
        margin-top : 100px;
    }
</style>
<title>Login</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    Road Link
    </a>
    <a href="/account/signup" class="btn btn-primary">Sign up</a>
    </nav>
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-6 offset-md-3" >
                <div class="card ">
                        <div class="card-header text-center">
                            <h1>Login</h1>
                        </div>
                        <div class="card-body">
                         <form method="POST" action="/account/login" >
                         {% csrf_token %}
                         {{form | crispy }}
                         <input type="submit" class="btn btn-primary" value="Login">
                         </form>
                        </div>
                    </div>
           </div>
       </div>
   </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>