{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add driver</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>
<style>
.nav {
    margin-bottom: 20px;
}

    .card {
        border: 0.1px solid rgb(180, 176, 176);
        border-radius: 3px;
        box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.2);
        -webkit-transition : box-shadow 0.3s ease-out;
        -moz-transition : box-shadow 0.3s ease-out;
        -o-transition : box-shadow 0.3s ease-out;
    }
    .card:hover {
        box-shadow: 2px 4px 8px 0 rgba(46,61,73,0.2);
    }
    .profile-pic{
        margin : auto;
    }
    .social {
        font-size: 50px;
        text-align: center;
        margin-top : 10px;
    }
    .social i{
        width: 100%;
    }
    .social .fa-twitter{
        color : cornflowerblue;
    }
    .social .fa-facebook{
        color: rgb(4, 68, 187);
    
    }
    .card-header {
        font-size: 50px;
    }
    
</style>

<body>
{%if user.is_authenticated %}
    <div id="wrapper">
        {% include 'driver/navbar.html' %}
        <!-- Sidebar -->
        <!-- Sidebar -->
        <!--<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Road Link
                    </a>
                </li>
                <li>
                    <a href="/account/profile">Dashboard</a>
                </li>
                <li>
                    <a href="/driver">View all drivers</a>
                </li>
                <li>
                    <a href="/driver">Add driver</a>
                </li>
                <li>
                    <a href="/vehicle/vehicles">View your vehicles</a>
                </li>
                <li>
                    <a href="#">View all trips</a>
                </li>
                <li>
                    <a href="/vehicle/addVehicle">Add vehicle</a>
                </li>
                <li>
                    <a href="/repair">Repair</a>
                </li>
                <li>
                    <a href="/repair/issues">Repair List</a>
                </li>
                <li>
                    <a href="#">View report</a>
                </li>
                <li>
                    <form action="/account/logout" method="POST">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-primary" value="Logout">
                </form>
                </li>
            </ul>
        </div>-->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="row nav">
                    <div class="col-md-2">
                        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
               
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card profile" >
                                    <div class="card-body">
                                    <div class="row ">
                                        <img class="profile-pic" src="https://via.placeholder.com/440x400" width="300px" height="400px" >
                                    </div>
                                    <div class="row social">
                    
                                            <div class="col-md-4"><i class="fa fa-facebook"></i></div>
                                            <div class="col-md-4"><i class="fa fa-twitter"></i></div>
                                            <div class="col-md-4"><i class="fa fa-github"></i></div>
                                    </div>
                                    </div>
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card detail" >
                                        <div class="card-header">My profile</div>
                                    <div class="card-body">
                                     <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Username : {{user.username}} </li>
                                        <li class="list-group-item">First name : {{user.first_name}}</li>
                                        <li class="list-group-item">Last name : {{user.last_name}}</li>
                                        <li class="list-group-item">Email : {{user.email}}</li>
                                        <li class="list-group-item">Phone number : {{user.phone}}</li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
{%else%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged</h1>
    </div>
</div>
{%endif%}
    <!-- /#wrapper -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
